<h1>Word Checker</h1>
<h3>Check how many times a word appears in a sentence.</h3>
<form action="/score" method="post">
  <div class="form-group">
    <label for="sentence">Enter in a sentence or phrase</label>
    <input type="text" name="sentence" required="required" autofocus  title="Please enter in a sentence." placeholder="I love my dog">
    <label for="word">Enter in a word</label>
    <input type="text" name="word" required="required" autofocus  title="Please enter in a word." placeholder="dog">
    <button type="submit">Calculate how many time the word appears!</button>
  </div>
</form>
